---
import { ClientRouter } from "astro:transitions";
const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<title>{title}</title>
		<ClientRouter/>
	</head>
	<body>
		<div>
			<slot />
		</div>
	</body>
</html>

<style>
	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		color: #fff;
	body {
		@apply grid place-content-center;
		color: rgb(226, 226, 219);
	}

	body > div {
		@apply container;
	}
</style>
