<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />

		<title>Astro Basics</title>
	</head>
	<body>
		<div>
			<slot />
		</div>
	</body>
</html>

<style>
	html,
	body {
		@apply grid place-content-center;
		background-color: #23272e;
		color: rgb(226, 226, 219);
	}

	body > div {
		@apply container;
	}
</style>
