---
import Layout from "../layouts/Layout.astro";
import "../styles/global.css";
---

<!-- Utilizando el layout basico de Astro -->
<Layout title="About">
    <main>
        <h1 class="text-center text-7xl font-extrabold">Libros 📚
            <span class="block">Recomendados</span>
        </h1>
    </main>
</Layout>
